postprocessor:
  name: find
  APS_mode: false
  postprocessor_args:
    fisher_power: 3  # Fisher energy power: S(x) = g^T F^{-p} g
  postprocessor_sweep:
    fisher_power: [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0]
