postprocessor:
  name: unlearn
  postprocessor_args:
    unlearn_mode: "ascent"
    eta: 1e-3
    num_steps: 1000
    temp: 1.0

    score_type: "prototype_coupling"

    prototype_coupling_config:
      use_all_prototypes: false
      top_k: 5
      eigenvalue_mode: "participation_ratio"
      prototype_aggregation: "mean"  # "mean" or "median"