postprocessor:
  name: unlearn
  postprocessor_args:
    unlearn_mode: "ascent"
    eta: 1e-2
    num_steps: 110
    temp: 1.0

    score_type: "prototype_coupling"

    prototype_coupling_config:
      use_all_prototypes: true
      top_k: 10
      eigenvalue_mode: "log_trace"  # "participation_ratio" or "log_trace"
      prototype_aggregation: "mean"  # "mean" or "median"
      max_samples_per_class: full  # null/"full" for all samples, or integer N for max N samples per class